html, body {
  margin: 0;
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.title {
  color: white;
  font-weight: bold;
  background-color: black;
  margin: 0;
  padding: 12px 0;
  width: 100%;
}
.title, .edit-btn-container {
  text-align: center;
  align-self: center;
  margin-bottom: 12px;
}
.edit-btn, .print-btn {
  width: 80px;
  margin: 0 8px;
}

.cv-content {
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 40px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 45vw 1fr;
  justify-items: start;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cv-content div {
  width: 100%;
  grid-column: 2 / 3;
}
.cv-section {
  margin: 10px 0;
  font-size: 14px;
}
.cv-section-name {
  text-decoration: underline;
  font-size: 22px;
  margin-bottom: 12px;
}

.cv-section-name + div {
  width: 100%;
}

.cv-profile-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cv-name {
  font-size: 28px;
  padding: 5px;
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cv-profile-details {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cv-profile-details div {
  text-align: center;
  width: auto;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  border: 2px solid #ccc;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.experience-list {
  font-size: 14px;
}
.experience-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.col-2 {
  text-align: end;
}
.remove-experience {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}
.add-experience,
.add-education {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.experience-item {
  margin: 12px 0;
}
.experience-item > div:first-child > div:first-child{
  font-weight: bold;
}
.education-list {
  font-size: 14px;
}
.education-list {
  font-size: 14px;
}
.education-item {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
.education-graduation {
  text-align: right;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.hidden {
  display: none;
}